# Add the working directory to `PYTHONPATH`; allows Jupyter notebooks in the `notebooks` folder to import `src/`
export PYTHONPATH="$PYTHONPATH:$(pwd)/src"

# Load the `.env` file
dotenv .env

# Import secrets from an untracked file `.secrets` (if it exists)
dotenv_if_exists .secrets

# load environments
conda activate python3.8

.venv-dev/Scripts/activate

source .env

